
.block {
    background-color: pink;
    min-height: 100vh;
}

.container {
    flex-direction: column;
}


.form {
    border: 1px solid brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 50%;
}
textarea{
    height: 50%;
}
.button {
    width: 110px;
    min-height: 40px;
    background-color: darkgrey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    line-height: 150%;
    padding: 5px;
}

