





.workItem{
    width: 300px;
    background-color: burlywood;
    border: 2px solid brown;
   /* width: 40%;*/
   /* height: 100%;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.button {
    width: 100px;
    min-height: 50px;
    background-color: darkgrey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    line-height: 150%;
}

.photoContainer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61dafb;
    width: 100%;
}

.title{
    background-color: darkgray;
}
.text{
    background-color: darkgray;
}
.description{
    width: 100%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /*padding: 15px;*/
}