

.block{

    background-color: burlywood;
}
.container{
    flex-direction: column;
}


.row{
    display: flex;
    justify-content: space-between;
    width: 50%;
flex-wrap: wrap;
    gap: 10px;
}
.some{
    width: 50px;
    height: 50px;
    background-color: pink;
    margin-bottom: 15px;
}